*{
	margin: 0;
	padding: 0;
}
/*Customised the button box*/
.button-box{
	width: 220px;
	margin: 15px auto;
	position:relative;  
	box-shadow: 0 0 20px 9px #FFFFFF;
	border-radius: 30px;
	background: transparent;
}
.input-field{
	width:100%;
	padding:10px;
	margin:5px 0;
}




